/* navbar.css */

.navbar {
  background-color: rgb(15, 15, 15);
  color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1280px;
  height: 60px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  cursor: pointer;

}

.logo:hover {
  color: #00ffff;
  text-shadow: 0 0 8px #00ffff, 0 0 16px #00ffff;

}

.navlinks {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navlinks li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navlinks li a:hover {
  color: #00ffff;
  text-shadow: 0 0 8px #00ffff, 0 0 16px #00ffff;
}